doctype html
html
  head
    title Next Slide, Please!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Three words you'll never have to say again.")
    link(rel="manifest" href="/manifest.json")
    link(rel="shortcut icon", href="https://cdn.glitch.global/82cc4f44-8805-4d75-ab26-18cc35cb7eb6/nsp_192.png?v=1685469722049", type='image/png')
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/https.js")
    script(src="https://tyler-visitor-tracker.glitch.me/hey.js")