include head
body
  section(id="container")
    div(id="header") 
      p You never have to hear
      h1(style="text-align: center") "NEXT SLIDE, PLEASE!"
      p(style="text-align: right") ...ever again.
    p
      a(class="btn btn-primary" href="/presenter") Present
      a(class="btn btn-secondary" href="/viewer") Join
    p
      video(style='width:100%' title='Introducing "Next Slide, Please!"' controls)
        source(src='https://cdn.glitch.global/82cc4f44-8805-4d75-ab26-18cc35cb7eb6/NextSlidePleaseDemo1.mp4?v=1685541879107' type='video/mp4')
    
    p(style="text-align: center") by 
      a(href="https://www.aTylerRobertson.com") Tyler Robertson
      br
      a(href="https://glitch.com/~next-slide-please") view source code